#amu ignores
data/cfg/*
data/fonts/*
data/logs/*
data/models/*
#data/shaders/*
data/temp/*
data/textures/*

#extensions
*.pdb
*.recipe
*.obj
*.idb
*.o
*.exe
*.cppcheck
*.4coder
*.spv
*.cap
*.rdc
*.rdbg
*.tmp
*.ctm
*.diagsession
*.svg
*.s
*.code-workspace
*.cache

#folders
.vs/
build/
docs/doxygen/

#specific files
TODOs.txt
misc/shell.bat
wlist_match12.txt
docs/doc.html

temp
src/secret
docs/amu.dox
