# su ignores

#extensions
*.pdb
*.recipe
*.obj
*.idb
*.o
*.exe
*.cppcheck
*.4coder
*.spv
*.cap
*.rdc
*.rdbg
*.tmp
*.ctm
*.diagsession
*.svg
*.s

#folders
.vs/
build/
docs/

#specific files
TODOs.txt
misc/su.vcxproj.user
misc/shell.bat
workspace.code-workspace
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
